
.body{
    background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
    /* -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; */
    font-family: 'Open Sans', sans-serif;
    font-size: 13pt;
    color: #404040;
}
.subtitle_text{
    margin-top: 20px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    font-family: 'League Gothic', sans-serif;
    font-weight: 700;
    border-radius: 5px;
    font-size: 36pt;
    color: #ffff;
    background-color: #000000;
}

.emphblack{
    color: #000000;
    font-weight: 700;
}

.mainbody{
    margin-top: -50px;
    background-color: transparent;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.title_text {
    font-family: 'League Gothic', sans-serif;
    font-weight: 500;
    font-size: 62pt;
    line-height: 54pt;
    color: #000000;
}

.email{
    font-weight: 700;
}

@media(max-width: 767px){
    .cursors{
        display: none;
    }
}