@import url('https://fonts.googleapis.com/css?family=Titan+One');

.body{
    background-color: rgb(0, 0, 0);
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}
.nav{
    position: fixed;
    width: 99%;
    height: 100px;
    font-family: "Monaco";
    background-color: rgb(0, 0, 0);
    z-index: 10;
}
.name{
    position: fixed;
    left: 20px;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: bolder;
    word-spacing: -10px;
    cursor: default;
}

.resume{
    position: fixed;
    right: 20px;
    top: 33px;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: lighter;
    cursor: pointer;
}

.coding{
    position: absolute;
    right:25px;
    top: 20%;
    width: 40%;
    height: 50%;
    padding-right: 30px;
    background-color: rgb(0, 0, 0);
    border: rgb(129, 129, 129) solid;
}

.terminal{
    position: absolute;
    color: rgb(255, 255, 255);
    bottom: 0%;
    right: 20px;
}

.red{
    position: absolute;
    top: 60px;
    left: 60px;
    color: red;
}
.white{
    position: relative;
    width: 80%;
    left: 60px;
    font-size: 30px;
    color: white;
}

@media  (max-width: 600px) {
    .name{
        font-size: 45px;
    }
    .resume{
        top: 45px;
        font-size: 20px;
    }
    .coding{
        top: 50%;
        width: 80%;
        height: 35%;
    }
}

.container{
    background-color: transparent;
    position: absolute;
	bottom:5%;
	left:40px;
}

.myprof {
    font-size: 72px;
    font-family:'Copperplate';
    background: -webkit-linear-gradient(#eee,rgb(30, 0, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container-2{
    position: absolute;
    top: 100%;
    width: 99%;
    height: 100%;
    background-color: black;
    z-index: -1;
}